body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6f9;
}


.navbar {
  background-color: #111 !important;
}

.nav-link {
  color: #ccc !important;
}

.nav-link.active {
  color: #0d6efd !important;
  font-weight: bold;
}


.card {
  border-radius: 10px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}